/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset de css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jost;
}

/* Logo de la pagina*/

.top img {
    width: 200px;
    background-color: #ffffff;
}

.top {
    background-color: #ffffff;
}

/* Navbar */

header nav{
    background-color: #b7b7b7;
}

/* Destacado */

.textoDestacado {
    text-align: center;
    background-color: #ffffff;
    font-style: italic;
}

/* Productos */

.productos {
    display: flex;
    justify-content: space-evenly;
    border: 30px;
    border-style: solid;
    border-color: #ffffff;
}

.productos div img {
    width: 170px;
    height: 170px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
}

.productos div p {
    font-size: large;
    text-align: center;
}


/* Footer */

footer img{
    width: 3vw;
    margin: 2px;
}

footer {
    background-color: rgba(94, 94, 94, 0.682);
}

footer a{
    text-decoration: none;
    color: #b7b7b7;
}

footer a:hover{
    color: #c6c0c0;
}

.soporte {
    display: flex;
    flex-direction: column;
}

/* --- Hombres --- */

/* Catalogo */

.catalogo{
    text-align: center;
}

.catalogoTitulo{
    border-radius: 2px;
    border: 2px;
    border-style: solid;
    border-color: rgb(109, 109, 109);
    margin: 20px;
}

/* --- Mujeres --- */

.catalogoMujeres{
    text-align: center;
}

.catalogoMujeres img{
    margin: 20px;
}

/* --- Contacto --- */

.contactoMain {
    margin-bottom: 10px;
    background-color: #8e8e8e;
    display: flex;
    flex-direction: column;
}

.contactoMain label{
    font-size: 20px;
    margin: 10px;
}

.btn-primary{
    margin: 10px;
}

.btn-primary:hover{
    color: yellow;
}

/* --- Medias --- */

/* Media Tableta -768px segun Edge */

@media (max-width:769px) {

    .redesSociales img{
        width: 50px;
    }
    .productos div img {
        width: 150px;
        height: 150px;
        border-style: solid;
        border-radius: 5px;
        border-width: 2px;
    }
}

/* Media Móvil L - 425px segun Edge */

@media (max-width:426px) {
    
    .redesSociales img{
        width: 30px;
    }
    .productos div img {
        width: 80px;
        height: 80px;
        border-style: solid;
        border-radius: 5px;
        border-width: 2px;
    }
}

/* Media Móvil M - 375px segun Edge */

@media (max-width:375px) {
    .productos div img {
        width: 50px;
        height: 50px;
        border-style: solid;
        border-radius: 5px;
        border-width: 2px;
    }
    .productos div p{
        font-size: small;
    }
}

/* Media Móvil S - 320px segun Edge -SIN USAR TODAVIA.- */

/* Media Portátil - 1024px */

@media (max-width:1025px) {
    iframe {
        width: 200px;
    }
    footer img{
        width: 30px;
    }
}